<!DOCTYPE html>
<html>
    <head>
        <title>sLerstikka</title>
    </head>
    <body>
        <div id="pageHeader">
            <h2>sLerstikka</h2>
            <a2 href="new.html">Lisää pirtelöö</a2>
        </div>
        <div id="balance">
            <h3>Tilanne</h3>
            {% do %}
                {% if saldo < 0 %}
                    <p1>{% kuka saldo %} oravannahkaa</p1><br>
                {% else %}
                    <p>{% kuka saldo %} oravannahkaa</p><br>
                {% endif %}
            {% end %}
        </div>
        <div id="history">
            <h3>Historiaa</h3>
            {% do %}
                {% milloin kuka monta mitä %}
                    {% if time.now+5min < milloin %} 
                        {% delete %} 
                    {% endif %}<br>
            {% end %}
        </div>
    </body>
</html>
